h1 {
  color: blue;
}

.image {
  padding: 30px;
  position: centered
}

#rubiks {
position: absolute
left: 20px;
bottom: 0;
}

#apple {
  position: absolute;
  right: 20px;
  bottom: 0;
}

h2 {
  /* the text in these squares should appear white. */
  color: white;
}

.square {
width: 20%;
height: 100px;
}

#blue {
  background-color: rgb(38, 139, 210);
  position: absolute;
  left: 10px;
  bottom: 0;
}

#yellow {
  background-color: #FBE608;
  position: absolute;
  left: 400px;
  bottom: 75px;
}

#pink {
  background-color: #FF377B;
  position: absolute;
  right: 10px;
  bottom: 100px;
}
