h1 {
  color: blue;
}

.image {
  padding: 30px;
}

h2 {
  color: white;
}

.square {
width: 35%;
height: 100px;
opacity: 0.9;
}

#blue {
  background-color: #3AB1FC;
  position: absolute;
  left: 10px;
  bottom: 75;
}

#yellow {
  background-color: #FBE608;
  position: absolute;
  left: 100px;
  bottom: 75;
}

#pink {
  background-color: #FF377B;
  position: absolute;
  left: 210px
  bottom: 75;
}
