/* menu bar/container */
menu {
  margin: 0;
  padding: 0;
  background-color: green;
}

/* top-level link */
#site-links {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#site-links .menu-item {
  width: 6em;
  padding: .5em 1em;
  display: inline-block;

  background-color: green;

  text-align: center;
  color: black;
}
#site-links .menu-item:hover {
  background-color: #006400;
  color: grey;
}

/* dropdown */
#site-links .dropdown {
  display: inline-block;
  width: 6em;
}
#site-links .dropdown-content {
  position: absolute;

  background-color: #006400;
  z-index: 5;
}
